.list_par{
    font-size: xx-large;
    font-weight: bolder;
}
.cont_par{
    font-size: large;
}
.components_btn{
    margin-top: 18px;
    margin-left: 10px;
    width: 200px;
    border: none;
    background-color: #00c8ff;
    font-size: large;
    border-radius: 20px;
}
a{
    color: darkred;
    text-decoration: none;
}
